<div class="container">
  <div>
    <h2>Ajouter une Montre :</h2>
  </div>

<form #addForm="ngForm">

  <div class="col-sm-4 col-md-4 col-lg-4">
    <label>Nom Montre</label>
    <input type="text"
           [(ngModel)]="newWatch.nomWatch"
           name="nomWatch"
           class="form-control"
           required minlength="3"
           #nomCtrl="ngModel">

    <div class="text-danger" *ngIf="nomCtrl.invalid && nomCtrl.touched">
      Le nom doit comporter au moins 3 caractères.
    </div>
  </div>


  <div class="col-sm-2 col-md-2 col-lg-2">
    <label>Prix</label>
    <input type="number"
           [(ngModel)]="newWatch.prixWatch"
           name="prixWatch"
           class="form-control"
           required min="1"
           #caCtrl="ngModel">

    <div class="text-danger" *ngIf="caCtrl.invalid && caCtrl.touched">
      Le chiffre d’affaires doit être supérieur à 0.
    </div>
  </div>


  <div class="col-sm-4 col-md-4 col-lg-4">
    <label>Date Création</label>
    <input type="date"
           [(ngModel)]="newWatch.dateCreation"
           name="dateCreation"
           class="form-control"
           required
           #dateCtrl="ngModel">

    <div class="text-danger" *ngIf="dateCtrl.invalid && dateCtrl.touched">
      La date est obligatoire.
    </div>
  </div>





  <div class="col-sm-4 col-md-4 col-lg-4">
    <label>Modèle</label>
    <select class="form-control form-control-lg"
            [(ngModel)]="newIdModel"
            name="idModel"
            required
            #modCtrl="ngModel">

      <option value="">-- Choisir un modèle --</option>
      <option *ngFor="let mod of modeles" [value]="mod.idModel">
        {{ mod.nomModel }}
      </option>
    </select>

    <div class="text-danger" *ngIf="modCtrl.invalid && modCtrl.touched">
      Veuillez choisir un modèle.
    </div>
  </div>


  <div class="mt-2">
    <button type="button"
            class="btn btn-success"
            (click)="addWatch()"
            [disabled]="addForm.invalid">
      Ajouter
    </button>
    </div>

</form>
